/* Custom Properties */
:root {
  --custom-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --custom-bg-color: #1a1a1a;
  --custom-panel-color: #252525;
  --custom-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
  --custom-color: #fff;
  --custom-color-brand: #24b47e;
  --custom-color-brand-secondary: #1f9268;
  --custom-color-secondary: #666;
  --custom-border: 1px solid #333;
  --custom-border-radius: 5px;
  --custom-spacing: 5px;
}

/* Overrides Toastifications Styles */
.Vue-Toastification__toast--success.custom-toast-success {
  background-color: var(--custom-color-brand) !important;
  color: var(--custom-color) !important;
}

/* Global Styles */
html,
body {
  font-family: var(--custom-font-family);
  background-color: var(--custom-bg-color);
  color: var(--custom-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom Utility Classes */
.bg-darken {
  background-color: var(--custom-panel-color);
}

.cursor-pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--custom-color);
}

.btn-clr-primary {
  background-color: var(--custom-color-brand);
  color: var(--custom-bg-color);
  border: none;
}

.custom-color-text-green {
  color: var(--custom-color-brand);
}

.btn-clr-primary:hover,
.btn-clr-primary:focus,
.btn-clr-primary:active {
  background-color: var(--custom-color-brand-secondary);
  color: var(--custom-bg-color);
}

.text-underline {
  text-decoration: underline;
}

/* Main / app wrapper */
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* Footer styling */
footer {
  color: var(--custom-color);
  margin-top: auto;
  text-align: center;
}

/* Logo text styling */
.logo-text {
  font-weight: bold;
  background: linear-gradient(
    135deg,
    #24b47e,
    #1f9268,
    #19775e,
    #24b47e,
    #1f9268,
    #19775e
  );
  background-size: 300% 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: moveGradient 2s infinite linear;
}

/* Keyframes for the gradient animation for logo */
@keyframes moveGradient {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Search bar */
.search-container {
  border: none;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: var(--custom-panel-color);
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: var(--custom-border-radius);
  max-width: 250px;
}

.input-search {
  border: none;
  outline: none;
  color: var(--custom-color);
  background-color: var(--custom-panel-color);
}

.search-icon {
  color: var(--custom-color-secondary);
  margin-left: 10px;
}

/* Container */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Card Columns */
.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 3;
    column-gap: 1.25rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

/* Text and Spacing */
.text-muted {
  color: #9faecb !important;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

/* Input Groups */
.input-group {
  position: relative;
  display: flex;
  width: 100%;
}

/* Create Task Button at bottom */
.create-task-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.circle {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plus-sign {
  font-size: 20px;
  color: var(--custom-color);
}

/* ProfileView profile card style */
.card-profile {
  width: 100%;
  max-width: 600px;
  border: none;
  border-radius: var(--custom-border-radius);
  background-color: var(--custom-panel-color);
  color: var(--custom-color);
}

.stats {
  background: #fff !important;
  color: #000 !important;
}

.articles,
.followers,
.rating {
  font-size: 10px;
  color: var(--custom-color-secondary);
}

.number1,
.number2,
.number3 {
  font-weight: 500;
}

.image {
  flex: 0 0 auto;
}

@media (min-width: 768px) {
  .image {
    margin-right: 1rem;
  }
}

/* HomeView page animation style on Home text */
.animatedText {
  align-items: center;
  display: flex;
  text-align: center;
}

.animatedText-container {
  position: relative;
  width: 100%;
}

.animatedText-heading {
  font-size: 24px;
  margin: 0;
}

@media (min-width: 768px) {
  .animatedText-heading {
    font-size: 32px;
  }
}

.animatedText-keyword {
  font-size: 40px;
  left: 0;
  margin-bottom: 0;
  margin-top: 30px;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}

@media (min-width: 768px) {
  .animatedText-keyword {
    font-size: 70px;
  }
}

.animatedText-keyword:nth-of-type(1) {
  animation: slide-up 1.5s 0.75s;
}

.animatedText-keyword:nth-of-type(2) {
  animation: slide-up 1.5s 2s;
}

.animatedText-keyword:nth-of-type(3) {
  animation: fade-in 1.5s 3.25s forwards;
}

.animatedText-description {
  opacity: 0;
  animation: fade-in 4s 3.32s forwards;
  margin-top: 80px;
}

@keyframes slide-up {
  0% {
    transform: translate3d(0, 80px, 0);
    opacity: 0;
  }

  20%,
  80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  100% {
    transform: translate3d(0, -40px, 0);
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate3d(0, 80px, 0);
  }

  50%,
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Dashboard in HomeView */
.welcome-section {
  padding: 50px 0 100px 0;
}

.card {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.25rem;
  color: var(-custom-color-secondary);
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  color: var(-custom-color-secondary);
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .welcome-section {
    padding-top: 20px;
  }
}
